<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EGatePass</display-name>
  <welcome-file-list>
    <welcome-file>logo.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordServlet</display-name>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>com.controller.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDashboardServlet</display-name>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <servlet-class>com.controller.AdminDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <url-pattern>/AdminDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListHodServlet</display-name>
    <servlet-name>ListHodServlet</servlet-name>
    <servlet-class>com.controller.ListHodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListHodServlet</servlet-name>
    <url-pattern>/ListHodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListSecurityServlet</display-name>
    <servlet-name>ListSecurityServlet</servlet-name>
    <servlet-class>com.controller.ListSecurityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSecurityServlet</servlet-name>
    <url-pattern>/ListSecurityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HodDashboardServlet</display-name>
    <servlet-name>HodDashboardServlet</servlet-name>
    <servlet-class>com.controller.HodDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HodDashboardServlet</servlet-name>
    <url-pattern>/HodDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecurityDashBoardServlet</display-name>
    <servlet-name>SecurityDashBoardServlet</servlet-name>
    <servlet-class>com.controller.SecurityDashBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecurityDashBoardServlet</servlet-name>
    <url-pattern>/SecurityDashBoardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeMobileServlet</display-name>
    <servlet-name>ChangeMobileServlet</servlet-name>
    <servlet-class>com.controller.ChangeMobileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeMobileServlet</servlet-name>
    <url-pattern>/ChangeMobileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectServlet</display-name>
    <servlet-name>ProjectServlet</servlet-name>
    <servlet-class>com.controller.ProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectServlet</servlet-name>
    <url-pattern>/ProjectServlet</url-pattern>
  </servlet-mapping>
</web-app>